<div class="modal-wrapper">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Task Details</h5>
        <button type="button" class="close" (click)="close.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="status">Status:&nbsp;{{ task.status }}</div>
          <div class="task-title">
            {{ task.title }}
          </div>
          <div class="description">
              {{ task.description || 'No description.' }}
          </div>
          <div *ngIf="dueDate.label" [class]="'due-date-label '+'badge '+dueDate.type">
            {{ dueDate.label }}
          </div>
          <div class="label-show row">
            <span *ngFor="let label of objectEntries(task.labels || {})"  [className]="'label badge-' + label[1]" >
              {{label[0]}}
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>