.modal-wrapper {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  .modal-dialog {
    top: 80px;
  }

  .modal-body {
    padding-top: 10px;
    // min-height: 250px;
  }

  .task-title {
    // display: flex;
    font-size: 20px;
    margin-bottom: 10px;
    // margin-top: 20px;
  }

  .description {
    color: #555;
    margin-bottom: 10px;
  }

  .status {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 14px;
  }

  .due-date-label {
    position: absolute;
    right: 10px;
    top: 8px;
    margin-right: 4px;
    background: #fff2cd;
    padding: 4px 8px;
    font-size: 12px;

    &.danger {
      background: rgba(128, 0, 0, 0.2);
      color: rgb(128, 0,0);
    }
  }

  .label-show {
    display: flex;
    align-items: center;
    padding: 10px 15px 0;
    .label {
      margin-top: 5px;
    }
  }
  .label {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 4px;
    border-radius: 4px;
  }
}
