<div>
  <div class="illustration-group">
    <div class="description">
      <h2 class="title">Too many things on your mind ?</h2>
      <ul>
        <li>What should I do next ?</li>
        <li>Which tasks have been done ?</li>
        <li>Which tasks belong to what category ?</li>
      </ul>
    </div>
    <img src="../../../assets/student-colour.svg" />
  </div>
  <div class="illustration-group">
    <img src="../../../assets/drawkit-list-app-colour.svg" />
    <div class="description">
      <h2 class="title">Manage your tasks efficiently</h2>
      <p>Keep checking off done tasks from your to-do list and become more productive. So what are you waiting for ?</p>
      <a class="confirm-btn" routerLink="/register">Register Now</a>
      <p>Already a member ? <a routerLink="/login">Login</a></p>
    </div>
  </div>
</div>
