.task-list {
  min-height: 500px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;

  .task-group-header {
    padding: 10px 20px;
    border: 1px solid #888;
    border-radius: 4px 4px 0 0;
    background: #aaa;

    .top-right {
      float: right;
      display: flex;
      align-items: center;

      input[type="checkbox"] {
        cursor: pointer;
        margin-right: 5px;
      }

      .mat-icon {
        &.archive-button {
          margin-right: -8px;
          cursor: pointer;
        }
      }
    }



    &.new {
      background: #ded7b1;
    }
    &.in_progress {
      background: #a7c9ce;
    }
    &.completed {
      background: #b9dac1;
    }
  }
  .list-collapse-btn {
    text-decoration: none;
    color: #000;
    &:hover {
      text-decoration: none;
    }
  }

  .card.card-body {
    padding: 0;
  }
}
